:root {
  --background: hsl(0, 0%, 0%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 10%, 70%);
  --color-underline: hsl(0, 10%, 30%);

  --color-grey: hsl(0, 0%, 80%);
  --color-red: hsl(0, 100%, 80%);
  --color-blue: hsl(200, 65%, 70%);
  --color-yellow: hsl(55, 100%, 70%);

  --header-size-xl: 5rem;
  --header-size-lg: 4rem;
  --header-size-md: 3rem;
  --header-size-sm: 2.2rem;

  --text-size-xl: 1.8rem;
  --text-size-lg: 1.4rem;
  --text-size-md: 1.2rem;
  --text-size-sm: 1rem;
  --text-size-xs: .8rem;

  --space-xl: 3rem;
  --space-lg: 2rem;
  --space-md: 1rem;
  --space-sm: .5rem;
  --space-xs: .25rem;

  --cards-gap: 2rem;
}

* {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Arimo';
  background: var(--background);
  color: var(--color-primary);
  font-size: 24px;
  letter-spacing: 0.03rem;
}

.cards {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas:
  "top top top"
  "upper-left upper-center upper-right"
  "middle-left middle-center middle-right"
  "lower-left lower-center lower-right"
  "bottom bottom bottom";
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  height: 100%;

  &__card {
    font-size: var(--text-size-md);
    margin-bottom: var(--cards-gap);
  }

  .top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
  }
}

h1 {
  font-size: var(--header-size-xl);
}

h2 {
  font-size: var(--header-size-lg);
}

h3 {
  font-size: var(--header-size-md);
}

h4 {
  font-size: var(--text-size-xl);
}

h5 {
  font-size: var(--text-size-lg);
  font-weight: 400;
}

h6, p, li {
  font-size: var(--text-size-md);
}

small {
  font-size: var(--text-size-sm);
}
