* {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Arimo';
  background: #000;
  color: #fff;
  font-size: 24px;
}

.cards {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas:
  "top top top"
  "upper-left upper-center upper-right"
  "middle-left middle-center middle-right"
  "lower-left lower-center lower-right"
  "bottom bottom bottom";
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  height: 100%;

  &__card {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
